html {
  font-family: 'Open Sans', sans-serif;
}

.header {
  height: 45vh;
}

.jumbatron {
  margin-bottom: 1rem;
}

.avatar {
  border-radius: 50%;
  /*text-align: center;*/
}

h1 {
  font-family: 'Quicksand';
  text-align: center;
  color: #262626;
  font-size: 35px;
  /*padding-top: 50px;*/
  /*padding-bottom: 250px;*/
}

h2 {
  font-family: 'Quicksand';
  text-align: center;
  /*padding-bottom: 2%;*/
  font-size: 15px;
}

h3 {
  text-align: center;
  /*padding-bottom: 2%;*/
  font-size: 15px;
}

h4 {
  font-family: 'Quicksand';
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
  padding-top: 25px;
}

p {
  /*font-family: Pacifico,cursive;*/
  /*padding-top: 50px;*/
  /*padding-bottom: 100px;*/
  text-align: center;
  color: #262626;
  font-size: 20px;
  text-decoration: none !;
}

.lead {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

a {
  color: #262626;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
}

a:hover {
  color: black;
  text-decoration: none;
  transition: 0.4s ease;
}

.display-3 {
  font-size: 35px;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
  padding-top: 80px;
}

.display-4 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
  padding-top: 10px;
}


/* NAVBAR */
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #5ec5af;
  color: #fafafa;
}
.navbar-light .navbar-nav .nav-link {
  color: #fafafa;
  background-color: #5ec5af;
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: rgba(236, 232, 232, 0.9);
    background-color: #5ec5af;
}

/* PROJECT IMAGE LINKS */
.project0 {
  background-image: url('../images/index_1.png');
  width: 100%;
  /*height: 250px;*/
  /*height: 315px;*/
  /*padding-top: 100px;*/
  opacity: .9;
  /*border: 10px solid white;*/
  padding-top: 120px;

  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.project0:hover {
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
  text-decoration: underline;
}
.project1 {
  background-image: url('../images/index_2.png');
  width: 100%;
  height: 315px;
  padding-top: 100px;
  opacity: .9;
  /*border: 10px solid white;*/
  padding-top: 120px;

  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.project1:hover {
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
  text-decoration: underline;
}
.project2 {
  background-image: url('../images/index_3.png');
  width: 100%;
  /*height: 250px;*/
  height: 315px;
  padding-top: 100px;
  opacity: .9;
  /*border: 10px solid white;*/
  padding-top: 120px;

  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.project2:hover {
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
  text-decoration: underline;
}
.project3 {
  background-image: url('../images/index_4.png');
  width: 100%;
  /*height: 250px;*/
  height: 315px;
  padding-top: 100px;
  opacity: .9;
  /*border: 10px solid white;*/
  padding-top: 120px;

  background-position: center;
  background-size: cover;
  position: relative;1
  text-align: center;
}
.project3:hover {
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
  text-decoration: underline;
}

.title1 {
  padding-top: 40px;
}

.top-button {
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 1;
  /*color: #fafafa;*/
  /*border: 1px solid black;*/
  /*padding: 5px 5px 5px 5px;*/
}

.aboutmelinks {
  display: flex;
  display: inline;
  height: 10%;
}

.applinks {
  /*margin-top: 100px;*/
  /*padding-bottom: 90%;*/
  padding-top: 40px;
  /*color: #e91e63;*/
  color: #5ec5af;
  font-size: 20px;
  z-index: 1;
}

.navgithub {
  width: 30%;
  height: 20px;
  padding-left: 50px;
  float: right;
}

.secondrow {
  padding-top: 10px;
}

.img-thumbnail {
  height: 166px;
  width: 300px;
  object-fit: cover;
  /*background-position: center;*/
  /*background-size: cover;*/
  /*position: relative;*/
  /*text-align: center;*/
  margin-bottom: 35px;

  /*background-color: black;*/
  /*border: 1px solid #ddd;*/
  /*border-radius: .25rem;*/
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  /*max-width: 100%;*/
  /*height: auto;*/
  opacity: 0.8;
}
.img-thumbnail:hover {
  /*opacity: 1;*/
  cursor: pointer;
}

.img-iphone {
  height: 130px;
  width: 300px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  opacity: 0.8;
}
.img-iphone:hover {
  /*opacity: 1;*/
  cursor: pointer;
}

/* BUTTONS */
.appbuttonlink {
  padding-top: 10px;
}
.avocado-button {
  background-color: #c8dc98;
}
.avocado-button:hover {
  background-color: #fafafa;
}
.javify-button {
  background-color: #5fd488;
}
.javify-button:hover {
  background-color: #fafafa;
}
.mapp-button {
  background-color: #f06592;
}
.mapp-button:hover {
  background-color: #fafafa;
}
.smurfrace-button {
  background-color: #61b3ff;
}
.smurfrace-button:hover {
  background-color: #fafafa;
}
.button {
  border-radius: 10%;
  padding: 10px 10px 10px 10px;
  color: orange;
}


.sink {
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.sink:hover {
  -webkit-transform:translate(0px,5px);
  -moz-transform:translate(0px,5px);
  -ms-transform:translate(0px,5px);
  -o-transform:translate(0px,5px);
  transform:translate(0px,5px);
  cursor: pointer;
}

.modal {
  max-width: 120%;
}

.modal-body  {
  height: 120%;
  width: 120%;
}

.jumbotron {
  background-color: #fafafa;
}
